.center {
    display: flex;
    justify-content: center;
    text-align: center ;
    height: 820px;
    font-family: 'Noto Sans', sans-serif;
}

.maxWidth {
    width: 1280px;
}
.content {
    display: flex;
}
.content .text{
    margin-top: 95px;
}

.content .text .title {
    font-weight: 700;
    font-size: 40px;
    color: #37383D;
}
.content .text p {
    height: 158px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #454545;
    
}
.center .content button {
    width: 183px;
    height: 39px;
    background: #263252;
    border-radius: 5px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 27px;
}

.center .content .images{
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
}

.center .content .images .containerImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #5D7A8C;

}